.main {
  width: 95%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
ul {
  display: flex;
  padding: 2rem 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
}
.two {
  margin: -3rem 0rem -3rem 0;
  li {
    display: flex;
    justify-content: flex-start;
    background: #73b0e6;
  }
}
.one {
  margin: 0.75rem 0;
  li {
    display: flex;
    justify-content: flex-end;
  }
}
li {
  margin: 2.5rem 0rem;
  word-break: break-all;
  background: #e9edef;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
}

@media (min-width: 900px) {
  .main {
    width: 56%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 666px) {
  .main {
    width: 56%;
  }
}
