$color_1: #1a1a1a;
.main{
  height: 31rem;
  overflow-y: auto;
  margin: 1rem;
  display: flex;
}
ul{
  display: flex;
  flex-direction: column;
}
.one{
  margin: 4rem 0;
  li{
    display: flex;
    justify-content: flex-start;
  }
}
.two{
  li{
    display: flex;
    justify-content: flex-end;
  }
}
li{
  margin: 1rem;
  width: 19rem;
  background: #e9edef;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem;
}