.main {
  width: 95%;
  margin: 1rem;
}
ul {
  margin-bottom: 2rem 1rem;
  display: flex;
  padding: 2rem 0.5rem;
  justify-content: space-between;
  flex-direction: column;
}
.two {
    background: #597894;
    margin-inline-end: auto;
  }
.one {
    background: #e9edef;
    margin-inline-start: auto;
}
li {
  width: fit-content;
  cursor: context-menu;
  list-style-type: none;
  margin-top: 3rem;
  word-break: break-all;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
}

@media (min-width: 900px) {
  .main {
    width: 56%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 666px) {
  .main {
    width: 56%;
  }
}
